:root {
  --back-color: #403C3B;
  --elemnet-color: #504B4A;
  --text-color: #CFCFCF;
  --back-gadient: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
}

@font-face {
  font-family: Gilroy;
  src: url("../font/Gilroy-Light.otf") format("truetype");
  font-style: normal;
  font-size: medium;
}
input:focus, button:focus, a:focus {
  outline: none !important;
}

* {
  margin: 0;
  padding: 0;
}
* button, * input {
  border: none;
}

main .card {
  border: 0 solid;
  border-radius: 10px;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  max-width: 385px;
}
main .card > img {
  width: 100%;
  border: 0 solid;
  border-top: 10px;
}
main .card > .container {
  max-width: 385px;
  padding: 0;
  /*margin: 14px 20px;*/
  display: grid;
  grid-gap: 15px;
}
main .card > .container > .name {
  display: flex;
  max-width: 345px;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
main .card > .container > .name > h4 {
  margin: 0;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}
main .card > .container > .name > p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}
main .card > .container > .description > p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #CFCFCF;
  word-break: break-word;
}
main .card > .container > .buy {
  display: flex;
  max-width: 345px;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
main .card > .container > .buy > p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
main .card > .container > .buy > button {
  border: 0 solid;
  border-radius: 10px;
  padding: 13px;
  background: var(--back-gadient);
}
main .card > .container > .buy > button > p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
