:root {
  --back-color: #403C3B;
  --elemnet-color: #504B4A;
  --text-color: #CFCFCF;
  --back-gadient: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
}

@font-face {
  font-family: Gilroy;
  src: url("../font/Gilroy-Light.otf") format("truetype");
  font-style: normal;
  font-size: medium;
}
main {
  margin-top: 25px;
}
main > .product-name {
  display: flex;
  flex-direction: row;
}
main > .product-name > h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #FFFFFF;
  align-self: center;
}
main > .product-name > .vertical-line {
  width: 33px;
  height: 4px;
  background: #618967;
  transform: rotate(90deg);
  align-self: center;
}
main > .product-line {
  margin: 15px 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
main > .product-line > .vertical-line {
  height: 4px;
  transform: rotate(90deg);
}
main > .product-line > h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

