{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for("static", filename="/css/index.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="/css/card.css") }}">
    <link rel="stylesheet" href="{{ url_for("static" , filename="/css/main.css") }}">
{% endblock %}
{% block content %}
    {% for item in cards %}
        <h2>{{ item.name }}</h2>
        <div class="product-line">
            {% for card in item.list %}
            <div class="card element">
                <img src="{{ card.img }}" alt="lamp">
                <div class="container">
                    <div class="name">
                        <h4>{{ card.name }}</h4>
                        <p>{{ card.mass }}</p>
                    </div>
                    <div class="description">
                        <p>{{ card.description }}</p>
                    </div>
                    <div class="buy">
                        <p class="price">{{ card.price }}</p>
                        <button>
                            <p>В корзину</p>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    {% endfor %}
{% endblock %}